.noScrolQ {
  overflow: hidden;
  scrollbar-width: none;
}

.noScrolQ::-webkit-scrollbar {
  display: none;
}

@keyframes blinkWinX {
  0%, 100% {
    color: white;
  }
  50% {
    color: green;
  }
}

.blinkWinX {
  animation: blinkWinX 1s infinite;
}

.spin__bets-item.fade-in {
  opacity: 0;
  transition: opacity 0.3s ease-in;
}

.spin__bets-item.fade-in.show {
  opacity: 1;
}

