.instruction {
  padding-top: 30px;
}

.instruction h1 {
  margin-bottom: 30px;
  font-size: 28px;
}

.instruction .step-num {
  display: block;
  width: 32px;
  height: 32px;
  text-align: center;
  background: #5b4dfe;
  border-radius: 100%;
  line-height: 32px;
  color: #FFF;
}

.instruction .step-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 15px;
}

.instruction .step-group .left {
  margin-right: 20px;
}

.instruction .step-group h5 {
  line-height: 32px;
}

.instruction .attention {
  display: block;
  border: solid 1px orange;
  text-align: center;
  padding: 16px;
  border-radius: 8px;
  color: orange;
  background: rgba(255, 229, 182, 0.3);
}
