@import "../css/animation";

.modal-strong {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
  z-index: 999999;

  &-container {
    display: flex;
    max-width: 720px;
    width: 100%;
    height: 50%;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    transition-duration: 0.3s;
    background: #fff;
    transform: translateY(100px) scale(0.4);
  }

  &-title {
    font-size: 26px;
    margin: 0;
    font-weight: 400;
    color: #55311c;
  }

  &-desc {
    margin: 6px 0 30px 0;
  }

  &-left {
    padding: 60px 30px 20px;
    background: #fff;
    flex: 1.5;
    transition-duration: 0.5s;
    transform: translateY(80px);
    opacity: 0;
  }



  &-right {
    flex: 2;
    font-size: 0;
    transition: 0.3s;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      transform: scale(2);
      object-fit: cover;
      transition-duration: 1.2s;
    }
  }

  &.is-open {
    height: 100%;
    background: rgba(#333, 0.85);

    .modal-strong-button {
      opacity: 0;
    }

    .modal-strong-container {
      opacity: 1;
      transition-duration: 0.6s;
      height: 50%;
      pointer-events: auto;
      transform: translateY(0) scale(1);
    }

    .modal-strong-right img {
      transform: scale(1);
    }

    .modal-strong-left {
      transform: translateY(0);
      opacity: 1;
      transition-delay: 0.1s;
    }
  }

  &-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      color: rgba(#333, 0.6);
      font-size: 14px;
    }
  }
}

.sign-up {
  margin: 60px 0 0;
  font-size: 14px;
  text-align: center;

  a {
    color: #8c7569;
  }
}

.input-button {
  padding: 8px 12px;
  outline: none;
  border: 0;
  color: #fff;
  border-radius: 4px;
  background: #8c7569;
  font-family: "Nunito", sans-serif;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    background: #55311c;
  }
}

.input-label {
  font-size: 11px;
  text-transform: uppercase;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  letter-spacing: 0.7px;
  color: #8c7569;
  transition: 0.3s;
}

.input-block {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 20px;
  transition: 0.3s;

  input {
    outline: 0;
    border: 0;
    padding: 4px 0 0;
    font-size: 14px;
    font-family: "Nunito", sans-serif;

    &::placeholder {
      color: #ccc;
      opacity: 1;
    }
  }

  &:focus-within {
    border-color: #8c7569;

    .input-label {
      color: rgba(#8c7569, 0.8);
    }
  }
}

.icon-button {
  outline: 0;
  position: absolute;
  right: 10px;
  top: 12px;
  width: 32px;
  height: 32px;
  border: 0;
  background: 0;
  padding: 0;
  cursor: pointer;
}

.scroll-down {
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: darken(#8c7569, 5%);
  font-size: 32px;
  font-weight: 800;
  transform: translate(-50%, -50%);
  svg {
    margin-top: 16px;
    width: 52px;
    fill: currentColor;
  }
}


@media(max-width: 750px) {
  .modal-strong-container {
    width: 90%;
  }
  .modal-strong-right {
    display: none;
  }
}

.modal-bought {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
  z-index: 999999;

  &-container {
    display: flex;
    max-width: 600px;
    width: 100%;
    height: 55%;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    transition-duration: 0.3s;
    background: #503FFD;
    transform: translateY(100px) scale(0.4);

    & > .modal-bought-button {
      position: absolute;
      background-color: #FF668B;
      border: none;
      border-radius: 5px;
      padding: 10px 50px 10px 50px;
      bottom: 0%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      left: 50%;
      z-index:3;
      animation: set-size 5s forwards;
    }

    & > .modal-bought-dollars {
      position: absolute;
      top:0;
      left:0;
      z-index: 3;

      & > .d-1 {
        position: relative;
        top: 4px;
        left: 30px;
        width: 50px;
        animation: jump 3s infinite;
      }

      & > .d-2 {
        position: relative;
        top: 130px;
        left: 140px;
        width: 30px;
        transform: rotate(45deg);
        animation: jump2 2s infinite;
      }

      & > .d-3 {
        position: relative;
        left: 300px;
        top: 40px;
        width: 50px;
        transform: rotate(-15deg);
        animation: jump3 1s infinite;
      }

      & > .d-4 {
        position: relative;
        top: 240px;
        left: 400px;
        width: 50px;
        transform: rotate(45deg);
        animation: jump4 5s infinite;
      }
    }
  }

  &-title {
    font-size: 30px;
    margin: 0;
    font-weight: bold;
    color: white;
  }

  &-desc {
    position: absolute;
    margin: 6px -38px 20px 0;
    width: 220px;
    color: white;
  }



  &-predict {
    position: absolute;
    bottom: 80px;
    color: black;
    width: 250px;
    font-size: 13px;
    background: #fff;
    text-align: center;
    border-radius: 10px;

    & > .title {
      position: relative;
      padding: 10px 0 0 0;
      color: #503FFD;
      font-weight: bold;
    }

    & > .profit {
      position: relative;
      padding: 0 0 10px 0;
      font-weight: bold;
      color: #4EFF00;
      font-size: 20px;
    }


  }

  &-left {
    padding: 60px 30px 20px;
    background: #503FFD;
    flex: 1.5;
    transition-duration: 0.5s;
    transform: translateY(80px);
    opacity: 0;

  }



  &-right {
    position: relative;
    flex: 2;
    font-size: 0;
    transition: 0.3s;
    overflow: hidden;

    img {
      position: absolute;
      float: right;
      width: 100%;
      height: 50%;
      transform: scale(2);
      object-fit: cover;
      transition-duration: 1.2s;
      z-index: 99999;
    }
  }

  &.is-open {
    width: 100%;
    height: 100%;
    background: rgba(#333, 0.85);

    .modal-bought-container {
      opacity: 1;
      transition-duration: 0.6s;
      height: 50%;
      pointer-events: auto;
      transform: translateY(0) scale(1);
    }

    .modal-bought-right img {
      vertical-align: middle;
      position: relative;
      border-style: none;
      top: 10px;
      float: right;
      left: 30px;
      height: 80%;
      width: 330px;
      transform: scale(1);
    }

    .modal-bought-left {
      transform: translateY(0);
      opacity: 1;
      transition-delay: 0.1s;
    }
  }
}

.sign-up {
  margin: 60px 0 0;
  font-size: 14px;
  text-align: center;

  a {
    color: #8c7569;
  }
}

.input-button {
  padding: 8px 12px;
  outline: none;
  border: 0;
  color: #fff;
  border-radius: 4px;
  background: #8c7569;
  font-family: "Nunito", sans-serif;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    background: #55311c;
  }
}

.input-label {
  font-size: 11px;
  text-transform: uppercase;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  letter-spacing: 0.7px;
  color: #8c7569;
  transition: 0.3s;
}

.input-block {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 20px;
  transition: 0.3s;

  input {
    outline: 0;
    border: 0;
    padding: 4px 0 0;
    font-size: 14px;
    font-family: "Nunito", sans-serif;

    &::placeholder {
      color: #ccc;
      opacity: 1;
    }
  }

  &:focus-within {
    border-color: #8c7569;

    .input-label {
      color: rgba(#8c7569, 0.8);
    }
  }
}

.icon-button {
  outline: 0;
  position: absolute;
  right: 10px;
  top: 12px;
  width: 32px;
  height: 32px;
  border: 0;
  background: 0;
  padding: 0;
  cursor: pointer;
}

.scroll-down {
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: darken(#8c7569, 5%);
  font-size: 32px;
  font-weight: 800;
  transform: translate(-50%, -50%);
  svg {
    margin-top: 16px;
    width: 52px;
    fill: currentColor;
  }
}


@media(max-width: 750px) {
  .modal-bought-container {
    width: 90%;
  }
}

@keyframes set-size {
  from {
    padding: 10px 0px 10px 0px;
  }
  to {
    padding: 10px 50px 10px 50px;
  }
}

@keyframes jump {
  0% { }
  75% { top: 15px; }
  100% {}
}

@keyframes jump2 {
  0% {  }
  75% { top: 115px; }
  100% {}
}

@keyframes jump3 {
  0% { }
  75% { top: 45px; }
  100% {}
}

@keyframes jump4 {
  0% {  }
  75% { top: 270px; }
  100% {}
}
